# Ejecutables de Windows
*.exe
*.exe~
*.dll
*.obj
*.o
*.out
*.a
*.lib
*.out

# Archivos de depuración
*.pdb
*.idb
*.ilk

# Carpeta de configuración de VS Code
.vscode/

# Archivos temporales y logs
*.log
*.tmp
*.temp

# Archivos de sistema de Windows
Thumbs.db
Desktop.ini

# Archivos de respaldo de editores
*~
*.swp
*.swo

# Archivos de CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Archivos de compilación en general
/build/
bin/
obj/

# Entornos virtuales de Python
env/
venv/
ENV/
.env/
.venv/

# Archivos generados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración o dependencias locales
*.pyo
*.pyd
*.egg
*.egg-info/
.eggs/
dist/
build/
pip-wheel-metadata/
.pytest_cache/
.tox/
.coverage
coverage.xml
*.cover
nosetests.xml

# Configuración de Jupyter y caché
.ipynb_checkpoints
*.ipynb~

# Archivos de herramientas o IDEs
.idea/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.sublime-project
.sublime-workspace

# Archivos del sistema
.DS_Store
